<% content_for :title, "Discussions" %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h3 mb-0">Discussions</h1>
  <%= link_to "New discussion", new_discussion_path, class: "btn btn-primary" %>
</div>

<% if @discussions.any? %>
  <div id="discussions" class="row row-cols-1 row-cols-md-2 g-4">
    <% @discussions.each do |discussion| %>
      <div class="col">
        <%= render partial: "discussion", locals: { discussion: discussion, show_actions: true } %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-info" role="alert">
    まだディスカッションがありません。新しいディスカッションを作成してください。
  </div>
<% end %>
