<% content_for :title, "Comments" %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h3 mb-0">Comments</h1>
  <%= link_to "New comment", new_comment_path, class: "btn btn-primary" %>
</div>

<% if @comments.any? %>
  <div id="comments" class="row row-cols-1 row-cols-md-2 g-4">
    <% @comments.each do |comment| %>
      <div class="col">
        <%= render partial: "comment", locals: { comment: comment, show_actions: true } %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-info" role="alert">
    まだコメントがありません。新しいコメントを作成してください。
  </div>
<% end %>
