<div class="container mt-3">
  <h1>パスワードを忘れた場合</h1>

  <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

  <%= form_with url: passwords_path do |form| %>

    <div>
      <label for="email" class="form-label">メールアドレス</label>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "メールアドレスを入力してください", value: params[:email_address], id: "email", class: "form-control" %>
    </div>
    
    <div class="mt-3">
      <%= form.submit "パスワードリセットメールを送信する", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
