<div class="container mt-3">
  <h1>掲示板一覧</h1>
  <% if @boards.present? %>
    <ul class="list-group">
      <% Array(@boards).each do |board| %>
        <li class="list-group-item"><%= link_to "#{board.title}", "/boards/#{board.id}" %></li>
      <% end %>
    </ul>
  <% else %>
    <p>掲示板がありません。</p>
  <% end %>
</div>
